@model ICollection<BugBusiness.Interface.FarmManagement.DTO.FarmDTO>
@{
    ViewBag.Title = "Edit Blocks";
}
@section Styles {
    <link href="@Url.Content("~/Content/EditBlocks.css")" rel="stylesheet" type="text/css" />
}
<div>
    <br />
    @foreach (var item in Model)
    {
        <!--Add Block-->
        <div id="@Html.Raw("add" + item.FarmID)" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Block</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please enter a name for the new block</p>
                        <form id="form_@item.FarmID" method="POST" action="./AddBlock">
                            <input type="number" value="@item.FarmID" name="FarmID" hidden />
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="text" id="BlockName" name="BlockName" placeholder="Block Name" aria-label="...">
                                </span>
                            </div>
                            <input type="Submit" value="Add" />
                        </form>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" style="font-size: 20pt;text-align:center;margin-bottom:5px">@Html.DisplayFor(modelItem => item.FarmName)</div>
        </div>
        <div class="col-sm-8 col-sm-offset-2 farm-table">
            <div class="row farm-table-head">
                <div style="font-size: 12pt;font-weight:bold" class="col-sm-6 col-sm-offset-2">Block Name</div>
                <div style="font-size: 12pt;font-weight:bold" class="col-sm-2">Operations</div>
            </div>
            @foreach (var block in item.Blocks)
            {
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-2">@Html.DisplayFor(modelItem => block.BlockName)</div>
                    <!--Edit Block-->
                    <div id="@Html.Raw("edit" + block.BlockID)" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Block Name</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Please enter a new name for @block.BlockName</p>
                                    <form id="form_@block.BlockID" method="POST" action="./EditBlock">
                                        <input type="number" value="@block.BlockID" name="BlockID" hidden />
                                                <input type="text" id="BlockName" name="BlockName" value="@block.BlockName" aria-label="...">
                                        <input type="Submit" value="Update" />
                                    </form>
                                    <br />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Delete Block-->
                    <div id="@Html.Raw("delete" + block.BlockID)" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Remove Block</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you wish to remove @block.BlockName?</p>
                                    <form id="form_@block.BlockID" method="POST" action="./DeleteBlock">
                                        <input type="number" value="@item.FarmID" name="FarmID" hidden />
                                        <input type="number" value="@block.BlockID" name="BlockID" hidden />
                                        <input type="Submit" value="Yes" class="btn-primary"/>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                    </form>
                                    <br />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@Html.Raw("edit" + block.BlockID)">Edit</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@Html.Raw("delete" + block.BlockID)">Remove</button>
                    </div>
                </div>
                <br />
            }
            <div class="row farm-table-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@Html.Raw("add" + item.FarmID)">Add</button>
            </div>
    </div>
    }
</div>
<div class="row"></div>
