@model BugWeb.Models.ReportingViewModel

@{
    ViewBag.Title = "Charts";
}

@section styles
{
     @Styles.Render("~/Content/css/chartist")
     @Styles.Render("~/Content/css/bootstrap-tagsinput")
     @Styles.Render("~/Content/css/reporting")
}


<div id="firstContentRow" class="row">
    <div class="col-sm-4">


        <!--Y-axis options for chart-->
        <label for="view">View</label>
        <select id="view" class="form-control">
            <option value="bugsPerTree">Bugs per Tree</option>
            <option value="numberOfBugs">Number of Bugs</option>
            <option value="blockName">Number of Trees</option>
        </select><br/>


        <!--X-axis options for chart-->
        <label for="against">Against</label>
        <select id="against" class="form-control">
            <option value="date">Date</option>
            <option value="blockName">Block</option>
            <option value="speciesName">Species</option>
            <option value="speciesLifeStage">Species Life Stage</option>
        </select><br/>


        <!--Grouping options to determine chart type and series-->
        <label for="groupBy">Group By</label>
        <select id="groupBy" class="form-control">
            <option value="none">None</option>
            <option value="blockName">Block</option>
            <option value="speciesName">Species</option>
            <option value="speciesLifeStage">Species Life Stage</option>
        </select><br/>


        <!--table of constraints for chart data-->
        <div id="constraintsDiv" class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <span id="collapseIcon" data-toggle="collapse" data-target="#collapsibleTable" class="glyphicon glyphicon-expand"></span>
                        <span id="resetIcon" class="glyphicon glyphicon-refresh pull-right"></span>
                        <strong> Constraints</strong>
                    </h1>
                </div>
                <div id="collapsibleTable" class="panel-collapse collapse">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Settings</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Date</th>
                            <td>
                                <label for="constraintDateFrom">From:</label>
                                <input type="date" id="constraintDateFrom" class="form-control">
                                <label for="constraintDateTo">To:</label>
                                <input type="date" id="constraintDateTo" class="form-control"><br/>
                                <input id="constraintDateAny" type="checkbox" checked> Any
                            </td>
                        </tr>
                        <tr>
                            <th>Blocks</th>
                            <td>
                                <input id="constraintBlocks" class="form-control" type="text" data-role="tagsinput"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Species</th>
                            <td>
                                <input id="constraintSpecies" class="form-control" type="text" data-role="tagsinput"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Species Life Stage</th>
                            <td>
                                <input id="constraintLifeStage" class="form-control" type="text" data-role="tagsinput" />
                            </td>
                        </tr>
                        <tr>
                            <th>Number of Trees</th>
                            <td>
                                <label for="constraintTreesLower">From:</label>
                                <input id="constraintTreesLower" class="form-control" type="number" min="1" value="1"/>
                                <label for="constraintTreesUpper">To:</label>
                                <input id="constraintTreesUpper" class="form-control" type="number" min="1" value="10"/><br/>
                                <input id="constraintTreesAny" type="checkbox" checked> Any
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 inflateDiv">

        <div id="chart" class="whirly-loader ct-chart ct-golden-section"></div>

    </div>
</div>

@section scripts
{
    <script type="application/javascript">
        var reportingApiUrl = "@Url.Content("~/api/records/2")";
    </script>
    @Scripts.Render("~/bundles/chartist")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/bootstrap-tagsinput")
    @Scripts.Render("~/bundles/reporting")
}

