@model BugWeb.Models.ReportingViewModel

@{
    ViewBag.Title = "Charts";
}

@section styles
{
     @Styles.Render("~/Content/css/chartist")
     @Styles.Render("~/Content/css/typeahead")
     @Styles.Render("~/Content/css/bootstrap-tagsinput")
     @Styles.Render("~/Content/css/reporting")
}


<div id="firstContentRow" class="row">
    <div class="col-sm-3">


        <!--Y-axis options for chart-->
        <label for="view">View</label>
        <select id="view" class="form-control chartControl">
            <option value="Bugs Per Tree">Bugs per Tree</option>
            <option value="Number of Bugs">Number of Bugs</option>
            <option value="Number of Trees">Number of Trees</option>
        </select><br/>


        <!--X-axis options for chart-->
        <label for="against">Against</label>
        <select id="against" class="form-control chartControl">
            <option value="Date">Date</option>
            <option value="Block">Block</option>
            <option value="Species">Species</option>
            <option value="Species Life Stage">Species Life Stage</option>
        </select><br/>


        <!--Grouping options to determine chart type and series-->
        <label for="grouping">Group By</label>
        <select id="grouping" class="form-control chartControl">
            <option value="None">None</option>
            <option value="Block">Block</option>
            <option value="Species">Species</option>
            <option value="Species Life Stage">Species Life Stage</option>
        </select><br/>


        <!--table of constraints for chart data-->
        <div id="constraintsDiv" class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <span id="collapseIcon" data-toggle="collapse" data-target="#collapsibleTable" class="glyphicon glyphicon-expand"></span>
                        <span id="resetIcon" class="glyphicon glyphicon-refresh pull-right"></span>
                        <strong> Constraints</strong>
                    </h1>
                </div>
                <div id="collapsibleTable" class="panel-collapse collapse">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Settings</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Date</th>
                            <td>
                                <label for="constraintDateFrom">From:</label>
                                <input type="date" id="constraintDateFrom" class="form-control chartControl">
                                <label for="constraintDateTo">To:</label>
                                <input type="date" id="constraintDateTo" class="form-control chartControl"><br/>
                                <input id="constraintDateAny" type="checkbox" class="chartControl" checked> Any
                            </td>
                        </tr>
                        <tr>
                            <th>Blocks</th>
                            <td>
                                <input id="constraintBlocks" class="form-control chartControl" type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Species</th>
                            <td>
                                <input id="constraintSpecies" class="form-control chartControl" type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Species Life Stage</th>
                            <td>
                                <input id="constraintLifeStage" class="form-control chartControl" type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Number of Trees</th>
                            <td>
                                <label for="constraintTreesLower">From:</label>
                                <input id="constraintTreesLower" class="form-control chartControl" type="number" min="1" value="1"/>
                                <label for="constraintTreesUpper">To:</label>
                                <input id="constraintTreesUpper" class="form-control chartControl" type="number" min="1" value="10"/><br/>
                                <input id="constraintTreesAny" type="checkbox" class="chartControl" checked> Any
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 text-center" style="background-color: lightcoral">
        <div id="chartTitle" class="chartLabel">
            <h1></h1>
        </div>
        <div id="yAxisTitle" class="chartLabel">
            <h4></h4>
        </div>
        <div id="chartContainer">
            <div id="chart" class="whirly-loader ct-chart ct-golden-section"></div>
        </div>
        <div id="xAxisTitle" class="chartLabel">
            <h4></h4>
        </div>
    </div>
</div>


@section scripts
{
    <script type="application/javascript">
        var recordsUrl = "@Url.Content("~/api/records/1")";
        var speciesUrl = "@Url.Content("~/api/species")";
    </script>
    @Scripts.Render("~/bundles/chartist")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/bootstrap-tagsinput")
    @Scripts.Render("~/bundles/reporting")
}

