@model BugWeb.Models.ReportingViewModel

@{
    ViewBag.Title = "Charts";
}

@section styles
{
     @Styles.Render("~/Content/css/chartist")
     @Styles.Render("~/Content/css/reporting")
}

<div id="firstContentRow" class="row">
    <div class="col-sm-4">


        <!--Y-axis options for chart-->
        <label for="viewSelect">View</label>
        <select id="viewSelect" class="form-control">
            <option value="bugsPerTree">Bugs per Tree</option>
            <option value="numberOfBugs">Number of Bugs</option>
            <option value="blockName">Number of Trees</option>
        </select><br/>


        <!--X-axis options for chart-->
        <label for="againstSelect">Against</label>
        <select id="againstSelect" class="form-control">
            <option value="date">Date</option>
            <option value="blockName">Block</option>
            <option value="speciesName">Species</option>
            <option value="speciesLifeStage">Species Life Stage</option>
        </select><br/>


        <!--Grouping options to determine chart type and series-->
        <label for="groupBySelect">Group By</label>
        <select id="groupBySelect" class="form-control">
            <option value="none">None</option>
            <option value="blockName">Block</option>
            <option value="speciesName">Species</option>
            <option value="speciesLifeStage">Species Life Stage</option>
        </select><br/>


        <!--table of constraints for chart data-->
        <div id="constraintsDiv" class="panel-group">
            <div class="panel panel-default" style="padding: 0px">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <span id="collapseIconSpan" data-toggle="collapse" data-target="#collapsibleTable" class="glyphicon glyphicon-expand"></span><strong> Constraints</strong>
                    </h1>
                </div>
                <div id="collapsibleTable" class="panel-collapse collapse">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Date</th>
                                <td>
                                    <label for="dateFrom">From:</label>
                                    <input type="date" id="dateFrom" class="form-control">
                                    <label for="dateTo">To:</label>
                                    <input type="date" id="dateTo" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>Block</th>
                                <td>Moe</td>
                            </tr>
                            <tr>
                                <th>Species</th>
                                <td>Dooley</td>
                            </tr>
                            <tr>
                                <th>Species Life Stage</th>
                                <td>Dooley</td>
                            </tr>
                            <tr>
                                <th>Number of Trees</th>
                                <td>Dooley</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="col-sm-8">
        <div id="chart" class="ct-chart ct-minor-seventh"></div>
    </div>
</div>

@section scripts
{
    <script type="application/javascript">
        var reportingApiUrl = "@Url.Content("~/api/reporting/2")";
    </script>
    @Scripts.Render("~/bundles/chartist")
    @Scripts.Render("~/bundles/reporting")
}

