@model BugWeb.Models.ReportingViewModel

@{
    ViewBag.Title = "Charts";
}

@section styles
{
     @Styles.Render("~/Content/css/chartist")
     @Styles.Render("~/Content/css/reporting")
}

<div id="chart" class="ct-minor-seventh"></div>

@section scripts
{
    <script type="application/javascript">
        var reportingAPI_URL = "@Url.Content("~/api/reporting/" + @Model.ActiveFarmId)";
    </script>
    @Scripts.Render("~/bundles/chartist")
    @Scripts.Render("~/bundles/reporting")
}

