@model BugWeb.Models.ReportingViewModel

@{
    ViewBag.Title = "Charts";
    ViewBag.Reporting = "true";
}

@section styles
{
    @Styles.Render("~/Content/css/reporting/common")
    @Styles.Render("~/Content/css/reporting/vendor/chartist")
    @Styles.Render("~/Content/css/reporting/charts")
}
<div flex layout-fill layout="column" ng-controller="ChartsCtrl">
    <div flex layout="column" layout-padding layout-fill layout-align="center center">
        <div class="md-headline" ng-hide="!someData">{{chartTitle}}</div>
        <div flex layout="column" layout-fill id="chart" class="ct-chart ct-minor-seventh" layout-align="center center" ng-hide="!someData"></div>
        <div ng-if="!someData && !loading">
            <p class="md-body-1">No data available. See Chart Settings.</p>
        </div>
        <md-progress-circular md-mode="indeterminate" ng-if="loading" md-diameter="70px"></md-progress-circular>

    </div>
    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" ng-cloak>
        @{ Html.RenderPartial("~/Views/Shared/_ReportingMenuToolbar.cshtml"); }
        <md-content layout-padding flex layout="column" class="settingsNavContent md-hue-1">
            @{ Html.RenderPartial("~/Views/Shared/_ReportingMenuBody.cshtml"); }
            <md-divider layout-padding></md-divider>

            <md-input-container ng-repeat="option in settings.grouped">
                <label>{{option.title}}</label>
                <md-select ng-model="option.selected">
                    <md-optgroup ng-repeat="group in option.groups" label="{{group.title}}">
                        <md-option ng-repeat="item in group.list" ng-value="{title: item.title, name:item. name, aggregate: group.type}">{{item.title}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <md-input-container ng-repeat="option in settings.ungrouped">
                <label>{{option.title}}</label>
                <md-select ng-model="option.selected">
                    <md-option ng-repeat="item in option.list" ng-hide="settings.ungrouped.x.selected.name === item.name && option.title !== 'X'" ng-value="item">{{item.title}}</md-option>
                </md-select>
            </md-input-container>

            <md-checkbox class="md-primary" ng-if="settings.ungrouped.x.selected.type === 'Line'" ng-model="settings.showTreatments" aria-label="Overlay Treatments Checkbox">
                Show Spray Data
            </md-checkbox>

        </md-content>
    </md-sidenav>
</div>


@section scripts
{
    <script type="application/javascript">
        angular.module("appMain").factory("reportingUrlService", function(){
            return {
                recordsUrl: "@Url.Content("~/api/records/" + Model.RecordsUrlSuffix)",
                speciesUrl: "@Url.Content("~/api/species")"
            };
        });
    </script>

    @Scripts.Render("~/bundles/vendor/xdate")
    @Scripts.Render("~/bundles/reporting/vendor/bspline")
    @Scripts.Render("~/bundles/reporting/vendor/chartist")
    @Scripts.Render("~/bundles/reporting/vendor/chartist-plugins")
    @Scripts.Render("~/bundles/reporting/common")
    @Scripts.Render("~/bundles/reporting/charts")

}