@model BugWeb.Models.ReportingViewModel

@{
    ViewBag.Title = "Map";
    ViewBag.Reporting = "true";
}
<div flex layout-fill layout="column" ng-controller="MapCtrl">
    <div flex layout="column" layout-fill layout-align="center center">
        <div flex layout="column" layout-fill id="map" layout-align="center center" ng-hide="!someScoutStops">
            
        </div>
        <div ng-if="!someScoutStops && !loading">
            <p class="md-body-1">No data available. See Map Settings.</p>
        </div>
        <md-progress-circular md-mode="indeterminate" ng-if="loading" md-diameter="70px"></md-progress-circular>
        
    </div>
    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" ng-cloak>
        <md-toolbar class="md-primary md-hue-1 md-whiteframe-z1">
            <md-toolbar-tools layout="row" flex layout-align="center center">
                <h2 offset="5" class="md-title">Map Settings</h2>
                <span flex></span>
                <md-button ng-click="defaultSettings()" class="md-icon-button" aria-label="Setting Defaults">
                    <ng-md-icon icon="refresh"></ng-md-icon>
                </md-button>
            </md-toolbar-tools>
        </md-toolbar>
        <md-content layout-padding flex layout="column" class="settingsNavContent md-hue-1">
            <md-input-container class="md-hue-1" ng-repeat="constraint in constraints.misc">
                <label>{{constraint.title}}</label>
                <md-select ng-model="constraint.value" ng-disabled="loading">
                    <md-option ng-repeat="item in constraint.list" value="{{item}}" ng-selected="item === constraint.list[0]">
                        {{item}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div layout="row">
                <div layout="column">
                    <div layout="row">
                        <h5 flex="15">Since</h5>
                        <md-datepicker class="md-hue-1" ng-model="constraints.dates.from" md-max-date="constraints.dates.to" ng-disabled="constraints.dates.all || loading"></md-datepicker>
                    </div>
                    <div layout="row">
                        <h5 flex="15">Until</h5>
                        <md-datepicker class="md-hue-1" ng-model="constraints.dates.to" md-min-date="constraints.dates.from" ng-disabled="constraints.dates.all || loading"></md-datepicker>
                    </div>
                </div>
                <div layout="row" layout-align="end center">
                    <md-checkbox class="md-primary" aria-label="All Dates Checkbox" ng-model="constraints.dates.all" ng-disabled="loading">
                        <h5>All</h5>
                    </md-checkbox>
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="row">
                <md-switch class="md-primary" aria-label="Blue Colour Gradient Switch" ng-model="options.blueColourGradient" ng-disabled="loading">
                    <h5 offset="15">Blue Colour Gradient</h5>
                </md-switch>
            </div>
            <div layout="row">
                <md-slider offset="10" flex="40" ng-model="options.radius" min="0.001" max="0.07" step="0.0005" aria-label="Radius" class="md-primary" ng-disabled="loading"></md-slider>
                <span flex="10"></span>
                <h5>Heat Radius {{options.radius}}</h5>
            </div>
        </md-content>
    </md-sidenav>
</div>


@section scripts
{
    <script type="application/javascript">
        angular.module("appMain").factory("reportingUrlService", function(){
            return {
                recordsUrl: "@Url.Content("~/api/records/" + Model.RecordsUrlSuffix)",
                speciesUrl: "@Url.Content("~/api/species")"
            };
        });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=visualization"></script>

    @Scripts.Render("~/bundles/vendor/xdate")
    @Scripts.Render("~/bundles/reporting/common")
    @Scripts.Render("~/bundles/reporting/map")

    
}



    
