@model BugWeb.Models.ReportingViewModel

@{
    ViewBag.Title = "Tables";
    ViewBag.Reporting = "true";
}

@section styles
{
    @Styles.Render("~/Content/css/reporting/common")
    @Styles.Render("~/Content/css/reporting/vendor/datatables")
    <link rel="stylesheet" href="https://cdn.datatables.net/r/dt/jszip-2.5.0,pdfmake-0.1.18,b-1.0.3,b-html5-1.0.3,b-print-1.0.3,cr-1.2.0,fh-3.0.0,r-1.0.7/datatables.min.css" />
    @Styles.Render("~/Content/css/reporting/tables")
}

<div flex layout="column" layout-fill layout-align="start center" ng-controller="TablesCtrl">
    <div flex layout-fill layout="column" layout-align="center center" ng-if="loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="70px"></md-progress-circular>
    </div>

    <md-tabs flex layout-fill md-border-bottom md-selected="selectedTab" ng-show="!loading">
        <md-tab label="Scout Data">
            <md-content layout-padding>
                <table id="scoutTable" class="display"></table>
            </md-content>
        </md-tab>
        <md-tab label="Spray Data">
            <md-content layout-padding>
                <table id="treatmentTable" class="display"></table>
            </md-content>
        </md-tab>
    </md-tabs>
    
    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" ng-cloak>
        @{ Html.RenderPartial("~/Views/Shared/_ReportingMenuToolbar.cshtml"); }
        <md-content layout-padding flex layout="column" class="settingsNavContent md-hue-1" ng-show="showScoutConstraints">
            @{ Html.RenderPartial("~/Views/Shared/_ReportingMenuBody.cshtml"); }
        </md-content>
        <md-content layout-padding flex layout="column" class="settingsNavContent md-hue-1" ng-show="!showScoutConstraints">
            <md-chips ng-repeat="constraint in treatmentConstraints.misc" ng-model="constraint.selected" md-autocomplete-snap md-require-match="true">
                <md-autocomplete md-min-length="0"
                                 md-no-cache="true"
                                 md-search-text="constraint.searchText"
                                 md-items="item in filterSuggestions(constraint.list, constraint.selected, constraint.searchText)"
                                 md-item-text="item.name"
                                 placeholder="{{constraint.title}}"
                                 md-menu-class="reportingAutocompleteTemplate">
                    <md-item-template>
                        <span class="item-title">
                            @*<md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>*@
                            <span md-highlight-text="constraint.searchText"> {{item.name}}</span>
                        </span>
                        <span ng-if="item.owners.length > 0" ng-repeat="meta in item.owners" class="item-metadata">
                            <small>{{meta}}</small>
                        </span>
                    </md-item-template>
                    <md-not-found>
                        No {{constraint.title}} Found
                    </md-not-found>
                </md-autocomplete>
                <md-chip-template>
                    {{$chip.name}}
                </md-chip-template>
            </md-chips>
            <div layout-padding layout="row">
                <div layout="column">
                    <div layout="row">
                        <h5 flex="15">Since</h5>
                        <md-datepicker class="md-hue-1" ng-model="treatmentConstraints.dates.from" md-max-date="treatmentConstraints.dates.to" ng-disabled="treatmentConstraints.dates.all || loading"></md-datepicker>
                    </div>
                    <div layout="row">
                        <h5 flex="15">Until</h5>
                        <md-datepicker class="md-hue-1" ng-model="treatmentConstraints.dates.to" md-min-date="treatmentConstraints.dates.from" ng-disabled="treatmentConstraints.dates.all || loading"></md-datepicker>
                    </div>
                </div>
                <div layout="row" layout-align="end center">
                    <md-checkbox class="md-primary" aria-label="All Dates Checkbox" ng-model="treatmentConstraints.dates.all" ng-disabled="loading">
                        <h5>All</h5>
                    </md-checkbox>
                </div>
            </div>
        </md-content>
    </md-sidenav>
</div>


@section scripts
{
    <script type="application/javascript">
        angular.module("appMain").factory("reportingUrlService", function(){
            return {
                recordsUrl: "@Url.Content("~/api/records/" + Model.RecordsUrlSuffix)",
                speciesUrl: "@Url.Content("~/api/species")"
            };
        });
    </script>

    <script type="text/javascript" src="https://cdn.datatables.net/r/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-html5-1.0.3,b-print-1.0.3,cr-1.2.0,fh-3.0.0,r-1.0.7/datatables.min.js"></script>

    @Scripts.Render("~/bundles/vendor/xdate")
    @Scripts.Render("~/bundles/reporting/vendor/dataTables")
    @Scripts.Render("~/bundles/reporting/common")
    @Scripts.Render("~/bundles/reporting/tables")
}