@model BugWeb.Models.ReportingViewModel
@{
    ViewBag.Title = "Tabular";
}
@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.8/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="~/Scripts/table.js"></script>

    <script type="application/javascript">
        var url = "@Url.Content("~/api/reporting/" + @Model.ActiveFarmId)";
    </script>
}

@section styles
{
    @Styles.Render("~/Content/table.css");
}


<div id="firstContentRow" class="row">
    <div class="col-sm-12 constraints">
        <div id="constraintsDiv" class="panel-group">
            <div class="panel panel-default" style="padding: 0px">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <span id="collapseIcon" data-toggle="collapse" data-target="#collapsibleTable" class="glyphicon glyphicon-collapse"></span>
                        <span id="resetIcon" class="glyphicon glyphicon-refresh pull-right"></span>
                        <strong> Constraints</strong>
                    </h1>
                </div>
                <div id="collapsibleTable" class="panel-collapse collapse in">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Blocks</th>
                            <td>
                                <select id="blocks" class="form-control">
                                    <option value="all">All Blocks</option>

                                    @foreach (var y in @Model.Farm.Blocks)
                                    {
                                        <option svalue="@y.BlockName">@y.BlockName</option>
                                    }


                                </select>
                            </td>
                            <th>Date</th>
                            <td rowspan="3">
                                <label for="timeFrom">From:</label>
                                <input type="date" id="timeFrom" class="form-control">

                                <label for="timeTo">To:</label>
                                <input type="date" id="timeTo" class="form-control"><br/>
                                <input id="dateAny" type="checkbox"> Any
                            </td>
                        </tr>
                        <tr>
                            <th>Species</th>
                            <td>
                                <select id="species" class="form-control">
                                    <option value="all">All Species</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Species instars</th>
                            <td>
                                <select id="speciesStage" class="form-control">
                                    <option value="all">All instars</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>View by</th>
                            <td>
                                <select id="view" class="form-control">
                                    <option value="default">Default Table</option>
                                    <option value="date">Date</option>
                                    <option value="species">Species (Pests)</option>
                                    <option value="blockName">Blocks</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div id="tableDiv">
            <table id="table"></table>
        </div>
    </div>
</div>



<button style="margin-top: 15px" id="generateBut" data-url="@Url.Content("~/api/records/" + @Model.ActiveFarmId)" class="btn-default" onclick="generate()">Generate tables</button>





