﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/angular")
    @Styles.Render("~/Content/css/angular-icons")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("JavaScript", required: false)
    @RenderSection("styles", required: false)
</head>
<body style="overflow: hidden" layout="row" ng-app="appMain" ng-controller="AppCtrl">

<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-cloak>
    <md-toolbar layout="column" layout-align="center center" class="md-primary md-hue-1 md-whiteframe-z1 md-tall">
        <img style="height: 95%" src="@Url.Content("~/Content/Images/logo.png")" alt="sambug logo"/>
    </md-toolbar>
    <md-content flex class="md-hue-1">
        <md-list layout="row">
            <md-item flex ng-repeat="item in menu">
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                        </div>
                        <h4 class="md-title inset">
                            {{item.title}}
                        </h4>
                    </md-item-content>
                </a>
            </md-item>
            <md-subheader flex="100">Management</md-subheader>
        </md-list>
    </md-content>
    
</md-sidenav>

<div layout="column" ng-cloak>
    <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSideNav('left')" class="md-icon-button" hide-gt-md aria-label="Settings">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h6 class="md-title">
                @ViewBag.Title
            </h6>
        </div>
    </md-toolbar>

    <md-content class="md-body-1" flex layout-padding>
        @RenderBody()
    </md-content>
    
</div>

@*<div style="background-color:#A3DCA3" class="navmenu navmenu-default navmenu-fixed-left offcanvas">
        <a style="background-color:#4DB870" class="navmenu-brand" href="~/Home/Index">SAMBUG</a>
        <ul class="nav navmenu-nav">
            <li><a href="~/Home/Index">Home</a></li>
            <!--<li><a href="#">Login</a></li>-->
            <!-- <li><a href="#">Register</a></li>-->

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Farm Management<b class="caret"></b></a>
                <ul class="dropdown-menu navmenu-nav">
                    <li><a href="~/FarmManagement/EditBlocks">Edit my Blocks</a></li>
                    <li><a href="~/FarmManagement/Treatments">Enter Treatment Data</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reporting<b class="caret"></b></a>
                <ul class="dropdown-menu navmenu-nav">
                    <li><a href="~/Reporting/Charts">View Chart</a></li>
                    <li><a href="~/Reporting/Tabular">View Table</a></li>
                    <li><a href="~/Reporting/Map">View Heat Map</a></li>
                </ul>
            </li>
            <li><a href="~/Authentication/EditUserRoles">Manage Users</a></li>
            <li><a href="~/Home/Logout">Logout</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>

    <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
</div>*@


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/angular-icons")
@Scripts.Render("~/bundles/app")
@Scripts.Render("~/Scripts/xdate.js")
@RenderSection("scripts", required: false)

</body>
</html>
