@{
    ViewBag.Title = "Edit User Roles";
}

<div layout-fill ng-controller="UserManagementCtrl" layout="row" layout-align="center start">
    <div layout="column" flex="60">
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                <h3>Users</h3>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content flex class="md-hue-1" id="users">
            <md-list>
                <div layout-padding ng-repeat="user in users">
                    <md-list-item layout="row" flex>
                        <md-item-content layout="row" flex>
                            <div flex="85">
                                <p>{{user.email}}</p>
                            </div>
                            <span flex></span>
                            <md-button ng-click="showEditUserRolesDialog($event, 'EditUserRolesDialogCtrl', user)" class="md-fab md-mini md-primary" aria-label="Edit User Roles">
                                <ng-md-icon icon="edit"></ng-md-icon>
                                <md-tooltip>
                                    Edit Roles
                                </md-tooltip>
                            </md-button>
                            <span flex></span>
                        </md-item-content>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
            </md-list>
        </md-content>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/authentication/edituserroles")
}

@*<!--Component which shows the map options/constraints-->
    <div layout-fill flex layout="row" layout-align="center start">
        <div flex="70">
            <div flex layout="column">
                <md-toolbar class="md-hue-1">
                    <div class="md-toolbar-tools">
                        <md-button ng-click="toggleCollapseIcon()" class="md-icon-button" aria-label="Expand Constraints">
                            <ng-md-icon icon="{{optionsContainer.collapseIcon}}"></ng-md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <div>
                    <md-content layout="row" layout-align="center start" layout-wrap class="md-hue-1">
                        <div ng-repeat="constraint in constraints">
                            <md-input-container flex class="md-hue-1">
                                <label>{{constraint.title}}</label>
                                <md-select ng-model="contraint.value">
                                    <md-option ng-repeat="item in constraint.list" value="{{item}}" ng-selected="item === constraint.list[0]">
                                        {{item}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <span flex="15"></span>
                        </div>
                        <div>
                            <label>Date From</label>
                            <md-datepicker class="md-hue-1" ng-model="constraints.fromDate"></md-datepicker>
                        </div>
                        <div flex>
                            <label>Date To</label>
                            <md-datepicker class="md-hue-1" ng-model="constraints.toDate"></md-datepicker>
                        </div>
                    </md-content>
                </div>
            </div>
        </div>
    </div>*@



















@*@using BugBusiness.Interface.BugSecurity.DTO
@model BugBusiness.Interface.BugSecurity.DTO.ViewEditUserRolesResponse

@{
    ViewBag.Title = "User Roles";
    ICollection<UserDTO> users = AutoMapper.Mapper.Map<ICollection<UserDTO>>(Model.Users);
}

<h2>@ViewBag.Title</h2>
<hr/>
<div>
    <div class="row">
        <div style="font-size: 20pt" class="col-sm-4">Email Address</div>
        <div style="font-size: 20pt" class="col-sm-4">Role</div>
        
    </div>
    <br/>
    @foreach (var item in users)
    {
        <div class="row">
            <div class="col-sm-4">@Html.DisplayFor(modelItem => item.Email)</div>
            <div class="col-sm-4">

                @foreach (var role in item.Roles)
                {

                    <div class="row">
                        <div class="col-lg-8">@Html.DisplayFor(roleItem => role.RoleDescription)</div>
                    </div>

                    <div id="@Html.Raw("modal" + item.UserID)" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit User Role</h4>
                                </div>
                                <div class="modal-body">

                                    <p>Please choose roles for @item.Email</p>
                                    <form id="form_@item.UserID" method="POST" action="./EditUserRoles">
                                        <input type="number" value="@item.UserID" name="UserId" hidden/>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" id="isGrower" name="isGrower" value="true" aria-label="..." >
                
                                            </span>
                                            <input type="text" value="Grower" class="form-control" aria-label="..." disabled>
                                        </div><!-- /input-group -->

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" id="isAdministrator" name="isAdministrator" value="true" aria-label="...">
                                            </span>
                                            <input type="text" id="role_description_2"  value="Administrator" class="form-control" aria-label="..." disabled>
                                        </div>
                                    </form>
                                    <br/>
                                   
                                    <button type="button" class="btn btn-success" onclick=@Html.Raw("validateForm($('#form_"+item.UserID+"'))")>Save</button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>

                    </div>
                }
            </div>


            <div class="col-sm-4"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@Html.Raw("modal" + item.UserID)">Edit</button>
            </div>
        </div>
        <br/>

    }

    <script>
        function validateForm(form) {
            if (form.find('input[name="isGrower"]').is(':checked') == false && form.find('input[name="isAdministrator"]').is(':checked') == false) {
                alert("At least one role needs to be selected.");
            } else {
                form.submit();
            }
        }
    </script>

    <!--Html.Raw("$('#form_"+item.UserUserId+"').submit()")-->



</div>*@
